* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/imgs/bg.png);
    background-attachment: fixed;
}
h1{
    color: #fff;
    text-shadow: 0 2px 4px black;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 10px;
    font-size: 4rem;
    margin-top: 5px;
}
.toggle-stats{
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: .5rem;
    /* justify-content: center; */
    /* align-items: center; */
}
.content {
    text-align: center;
    width: 100vw;
    height: auto; 
    padding: 1rem 2rem;
    margin: auto;
}
.content .closeButton, .content .main-stats, .content .poke-details-text, .modal #btn-pokedetails, #modal-id {
    display: none;
}
#loadMoreButton:hover{
    cursor: pointer;
    filter: brightness(0.9)
}
.pokemons li:hover{
    -webkit-box-shadow: 0px 2px 40px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 40px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 40px -11px rgba(0,0,0,0.75);
}

.poke-img{
    max-width: 130px;
}
.modal .poke-img{
    max-width: none;
    width: 80%;
    margin: auto;
    text-align: center;
}
.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, .4);
    position: fixed;
    top: 0;
    right: 0; 
    text-align: center;
}

#modalpoke .type{
    filter: brightness(0.9)
}
.modal .main-stats{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1rem;
}
.modal .main-stats li span{
    font-size: 1rem;
}
.pokemon-btn:hover{
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}
.pokemon-btn{
    width: max-content;
    color: rgb(46, 43, 43);
    font-size: 0.9rem;
}

.modal .poke-details-text{
    display: flex;
}

.modal .detail img{
    width: 100%;
    max-height: 300px;
    margin: auto;
}
#modal-id{
    display: none;
}
.main-stats{
    list-style: none;
}
.main-stats li{
    margin: 5px;
}
.modal .type{
    font-size: 1.2rem;
}
.modal ol{
    /* text-align: center; */
    list-style: none;
    /* align-self: center; */
}
#modalpoke{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 50px auto;
    border-radius: 1rem;
    padding: 2rem 6rem 0.25rem;
    font-size: 2rem;
    height: fit-content;
}
#modalpoke .type {
    width: fit-content;
}
#modalpoke .types{
    display: flex;
    flex-direction: row;
    padding-inline-start: 0;
}
#modalpoke .types li {
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 1.5rem;
}

.modal .detail .types li{
    width: auto;
    justify-content: center;
}  
.modal .closeButton{
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 20px 4px grey;
    font-size: 1.25rem;
}

.main-stats{
    text-transform: capitalize;
}

@keyframes mostrarModal{
    from{
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.mostrar {
    animation: mostrarModal 0.25s
}

@media only screen and (max-width: 992px){
    .content{
        height: auto;
        margin: 0 auto;
        border-radius: 1rem;
        padding: 1rem;
    }
    .modal{
        text-align: center;
    }
    #modalpoke{
        margin: 4rem auto;
    }
}
@media only screen and (max-width: 650px){
    .content{
        height: auto;
    }
    h1{
        font-size: 3rem;
    }
    #modalpoke{
        width: 60%;
        height: fit-content;
        padding: 1rem;
        margin: 3rem auto;

    }
}
@media only screen and (max-width: 410px){
    .content{
        height: auto;
    }
    h1{
        font-size: 3rem;
    }
    .modal{
        text-align: center;
    }
    #modalpoke{
        width: fit-content;
        height: fit-content;
        margin: 2rem auto;
        padding: 1rem;
    }
    .modal .detail img{
        width: 80%;
    }
    .modal span, .modal .detail, .modal .type{
        font-size: 1.25rem;
    }
}
